:root {
  --clr-primary: #000000;
  --sketch-area: 80vh;
  --spacer-s: 0.125rem;
  --spacer-m: 0.25rem;
  --spacer-l: 0.75rem;
}

*,
*::before,
*::after {
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
}

.wrapper {
  height: 100%;
  display: grid;
  grid-template-areas:
    "header"
    "cells"
    "options";
  place-items: center;
  grid-template-rows: 1fr var(--sketch-area) 1fr;
}

.cells {
  padding: var(--spacer-s);
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  grid-template-rows: repeat(16, 1fr);
  gap: var(--spacer-s);
  height: var(--sketch-area);
  width: var(--sketch-area);
  border: 0.25rem solid var(--clr-primary);

  background-color: hsl(0, 0%, 90%);
}

.cell {
  background-color: white;
}

.options {
  display: flex;
  gap: var(--spacer-l);
}

.option {
  text-decoration: none;
  color: inherit;
  font: inherit;
  border: 0.125rem solid var(--clr-primary);
  padding: var(--spacer-m);
  font-size: 2rem;
}
